<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="canEdit"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="endpoint" value="https://exploreproject2018.documents.azure.com:443/" />
    <add key="authKey" value="ZfInuL0b11ec6d82t63SodGAMgEszKvqQ34Wok7i2fwuugsyBkUaOZadCj8uta6PHSPqgiImhhXsFLJsRCWrOA==" />
    <add key="database" value="explore-db" />
    <add key="collection" value="collection1" />
  </appSettings>
</configuration>