<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="endpoint" value="your URI here" />
    <add key="authKey" value="your primary key here" />
    <add key="database" value="your database name here" />
    <add key="collection" value="your collection name here" />
  </appSettings>
</configuration>
